<%= render :partial => "menu", :locals => { :project => @project}-%> 
<%= render :partial => "projects/adder" -%>
<%= render :partial => "teams_list", :locals => { :teams => @teams, :project => @project }%>
<div id="dummy-for-actions">
</div>
