<div class="task" id="task-<%= task.id -%>" >
	<h1><%=h task.name -%></h1>
	<p><%=h task.description %></p>
	<% #image_tag 'task_delete.png', :alt => 'delete task', :style => "position:absolute; top: 167px; left: 169px" %>
	<% #image_tag 'task_edit.png', :alt => 'edit task', :style => "position:absolute; top: 167px; left: 140px" %>
</div>
<%= draggable_element "task-#{task.id}", :revert => '"failure"'%>

