@import common
@import macros
@import modal_dialog

body
  margin: 0
  :padding 0
  position: fixed
  width: 100%
  height: 100%


table
  width: 100%
  margin: 0 auto
  border-spacing: 0px


a:visited
  color: #002255


table
  th
    width: 15%
    font-size: 14px
    text-align: center
    background: white
    padding: 7px

  td
    padding: 0px
    vertical-align: top


#container
  width: 100%


li
  margin: 0
  list-style-type: none


ul
  margin: 0 auto

.form_container
  

.task
  :cursor move
  :background url(/images/task.png) no-repeat
  :width 126px
  :height 126px
  :float left
  :margin 3px
  :position relative
  .delete
    :width 13px
    :height 13px
    :cursor pointer
    :z-index 2
    :background url("/images/task_delete.png") no-repeat
    :position absolute
    :top 5px
    :right 5px
  .task_back
    :width 126px
    :height 126px
    :position absolute
    :top 5px
    .task-description
      :border none
      :background transparent
      :width 105px
      :height 96px
      :margin 2px
      :font-size 9px
    
  .task_front
    :height 126px
    :cursor move
    .task-name
      :width 100%
      :margin-top 0
      :font-size 12.6px
      :font-weight bold
      :text-align center
      :line-height 17px
      :padding 0
      :cursor text
    .task-name-container
      :cursor move
      :height 100px
      :margin 0 auto
      :vertical-align middle
      :margin 0 auto
    .task-container-table
      :cursor move
      :display table
      :position absolute
      :top 0px
      :width 124.6px
      :height 124.6px
      :background transparent
      :margin 0 auto
    .task-container-cell
      :cursor move
      :display table-cell
      :vertical-align middle
      :margin 0 auto
  .flip
    :background url("/images/task_flip.png") no-repeat
    :cursor pointer
    :width 19px
    :height 19px
    :position absolute
    :bottom 0
    :right 0


.flip-task-image-back
  border: 1px solid red
  z-index: 1


.image-link-back
  position: absolute
  right: 0
  bottom: 0
  border: none
  z-index: 1


.task-description-area
  border: none
  background: inherit
  overflow: hidden


#form-add-task
  background: url('/images/task-new.png') no-repeat left
  width: 180px
  height: 180px


.form-task-task_name
  width: 100%
  font-size: 18px
  font-weight: bold
  background: none
  border: none
  text-align: center
  color: #4d4d4d


#form-add-task-task_name
  width: 100%
  font-size: 18px
  font-weight: bold
  background: none
  border: none
  text-align: center
  color: #4d4d4d
  position: relative
  left: 7px
  top: 15px


.form-task-task_description
  background: transparent
  border: none
  font-size: 12px
  position: absolute
  top: 0px
  left: 2px
  overflow: hidden


#form-add-task-task_description
  background: none
  border: none
  font-size: 12px
  position: absolute
  top: 0px
  left: 2px


#submit
  position: absolute
  left: 85px
  top: 148px
  z-index: 130


#form-add-task-cancel
  position: relative
  left: 12px
  top: 148px
  z-index: 130


.task-container-table-new
  display: table
  position: absolute
  top: 0px
  width: 161px
  height: 124.6px
  background: transparent
  margin: 0 auto


.task-container-cell-new
  display: table-cell
  vertical-align: middle
  margin: 0 auto


.story-td
  background: white


.story
  width: 129px
  height: 143px
  background: url('/images/story.png') no-repeat left

  p
    margin: 0


.story-container
  padding: 0
  width: 108px
  height: 105px
  margin: 0 auto
  position: relative
  top: 25px


.story-name-container
  padding: 0
  width: 108px
  height: 65px
  margin: 0


.story-field-realid
  font-size: 8px
  text-align: right
  font-weight: bold
  position: relative
  top: -12px
  left: -2px


.story-field-name
  float: left
  position: relative
  top: -10px
  margin-left: 50% !important
  font-size: 12px
  line-height: 14px
  text-align: center


.storycard-priority
  position: absolute
  bottom: 5px
  left: 5px


.storycard-size
  position: absolute
  bottom: 5px
  right: 5px


.story-field-label
  margin: 0
  text-align: center
  font-size: 10px


.story-field-number
  font-size: 12px
  font-weight: bold
  text-align: center


.add_nametag
  width: 60px
  height: 70px
  text-align: center
  background: black

  img
    height: 60px 


.nametag
  background: url('/images/tags/nametags-bkg.png') left no-repeat
  width: 60px
  height: 12px
  font-size: 9px
  text-align: center
  line-height: 10px
  z-index: 3

.statustag
  width: 50px
  height: 37px
  z-index: 3


.statustag-blocked
  background: url('/images/tags/status/statustag_blocked.png') left no-repeat transparent


.statustag-high_priority
  background: url('/images/tags/status/statustag_high_priority.png') left no-repeat transparent


.statustag-waiting
  background: url('/images/tags/status/statustag_waiting.png') left no-repeat transparent


.statustag-delegated
  background: url('/images/tags/status/statustag_delegated.png') left no-repeat transparent


.statustag-bug
  background: url('/images/tags/status/statustag_bug.png') left no-repeat transparent


.statustag-please_analyze
  background: url('/images/tags/status/statustag_please_analyze.png') left no-repeat transparent


.statustag-please_test
  background: url('/images/tags/status/statustag_please_test.png') left no-repeat transparent


.statustag-done
  background: url('/images/tags/status/statustag_done.png') left no-repeat transparent
