/* General  */
body { background: url('/images/admin/admin-background.png') repeat-x #f1f6ff; } 
img { border: none; vertical-align: middle; }
a { text-decoration: none;}
a:visited { color: #002255;}

h1 { font-size: 28px; color: #002255;}
p { color: #002255;}

#admin-dummy-container{ margin: 0 auto; width: 1000px}
#admin-container {	position: relative;	width: 1000px;	height: 100px;}
#admin-content{	float: left;	width: 780px;	height: 100px;}
#admin-sidebar{	float: left;	width: 220px;}
#admin-sidebar-menu{ margin: 0;	padding: 0;	list-style: none;	text-align: right; color: #00112b; font-size: 16px;}
#admin-sidebar-menu a {color: #1b51a2;}
#admin-sidebar-menu a:hover{color: #2a7fff;}
#admin-sidebar-search{background: url('/images/admin/admin-sidebar-search-input-background.png') no-repeat transparent;	border: none;	width: 140px;	height: 25px;	vertical-align: middle;	color: #00112b;	font-size: 14px;	padding-top: 3px;	padding-left: 10px;	position:relative;	float: left;	top: 20px;	left: 5px;}
#admin-sidebar-menu img{ vertical-align: middle;}

#dialog-background-fade { position: fixed; top: 0px; left: 0px; background: #0b1728; width: 100%; height: 100%; opacity: 0.9; z-index: 100; }
#dummy-for-actions {position:absolute; top: 0; left: 0; z-index: 120;}
/* End General  */




/* Admin Menu */
#admin-menu { position:relative; top: -15px; left: 15px; margin: 0; padding: 0;}
#admin-menu .admin-menu-element{ margin: 0; background: url('/images/admin/admin-menu-item-background.png') top left no-repeat transparent; width: 155px; height: 31px;	text-align: center;	float: left; margin-right: 10px;}
#admin-menu .admin-menu-element a{ color: white; font-size: 16px; }
#admin-menu .admin-menu-element a:hover{ color: #ffccaa; }
#admin-menu .admin-menu-current a{ color: #f6c022; }
/* End */ 

/* Errors */
.fieldWithErrors { display: inline; }
#errorExplanation { width: 100%; border: 2px solid red; margin: 0; background-color: #d5e5ff;}
#errorExplanation h2 { width: 100%; height: 20px; text-align: left; font-weight: bold; font-size: 12px; margin: 0; background-color: #c00; color: #fff;}
#errorExplanation p { color: #333; margin-bottom: 0; padding: 5px;}
#errorExplanation ul li { font-size: 12px; list-style: square; }
/* End */

/* Admin Div  */
.admin-div-top{ height: 15px; }
.admin-div-top-left{ float: left; width: 15px; height: 15px; background: url('/images/admin/admin-div-top-left.png');}
.admin-div-top-middle{ float: left; width: 100%; height: 12px; background:green; border-top: 3px solid #0c82eb; background: #d5e5ff;}
.admin-div-top-right{ float: right; width: 15px; height: 15px; background: url('/images/admin/admin-div-top-right.png');}
.admin-div-content{ padding-left: 12px; padding-right: 12px; border-left: 3px solid #0c82eb; border-right: 3px solid #0c82eb; background: #d5e5ff;}
.admin-div-content h1 { position: relative; top: 4px; font-size: 28px; color: #002255; display: inline; margin: 0; margin-left: 10px; font-weight: normal;}
.admin-div-content h2 { color: #002255; display: inline; margin: 0; font-weight: normal;}
.admin-div-bottom{margin-bottom: 30px;}
.admin-div-bottom-left{ float: left; width: 15px; height: 15px; background: url('/images/admin/admin-div-bottom-left.png');}
.admin-div-bottom-middle{ float: left; width: 100%; height: 12px; background:green; border-bottom: 3px solid #0c82eb; background: #d5e5ff;}
.admin-div-bottom-right{ float: right; width: 15px; height: 15px; background: url('/images/admin/admin-div-bottom-right.png');}
.admin-div-top-actions{display: inline; margin: 0; padding: 0; position: relative;}
.admin-div-top-actions-separator { margin-left: 10px;margin-right: 10px;}
.admin-div-top-actions-counts{ position: relative; top: 4px; font-size: 22px; color: #002255;}
.admin-div-hr { border-top: 1px solid #0c82eb; border-bottom: 2px solid #0c82eb; border-left: 0; border-right: 0; margin: 0; width: 700px; position: relative; left: -15px;}
.admin-div-section { width: 100%; height: 52px; background: #afc6e9; border-bottom: 5px solid #d5e5ff;}
.admin-div-section h2 { position: relative; top: 13px; }
.admin-div-section a { color: #002255; }
.admin-div-section a:hover { color: #0c82eb; }
.admin-div-section-img { position: relative; width: 36px; left: 2px; top: 10px; }

.admin-div-element-core { float: left; width: 300px; height: 33px; margin: 5px; padding-left: 10px; padding-right: 10px;}
.admin-div-element { background: url('/images/admin/admin-div-element-display.png') no-repeat; }
.admin-div-element-actions { background: url('/images/admin/admin-div-element-display-actions.png') no-repeat; }
.admin-div-element-actions img { float: right; position:relative; top: 6px; }
.admin-div-element-actions-edit { margin-right: 5px;}
.admin-div-element-actions img.admin-div-element-actions-edit-admin { margin-right: 10px; }
.admin-div-element-actions-edit-admin-left-aligned { position: relative; right: 55px;}
.admin-div-element-actions-team-members { margin-right: 10px;}
.admin-div-element div { width: 300px; height: 33px; }
.admin-div-element-actions div { width: 214px; height: 33px; }

.admin-div-element p, .admin-div-element-actions p { float:left; margin: 0; color: #002255; padding: 0; position:relative; top: 8px; }
.not-mine a { color: #aaa !important;}
.not-mine a:hover { color: #aaa !important;}
.not-mine a:visited { color: #aaa !important;}
.not-mine { color: #aaa !important;}
.admin-div-element-core a {color: #002255;}
.admin-div-element-core a:visited {color: #002255;}
.admin-div-element-core p.not-mine a:visited {color: #aaa;}
.admin-div-element p { text-align: center;}

.admin-div-elements-search{ float:right; position: relative; top: 11px; margin-right: 10px;} 
.admin-div-elements-search-field{ background: url('/images/admin/admin-div-elements-search-field.png') no-repeat transparent; border: none; width: 128px; height: 25px; font-size: 12px;  position:relative; top: 4px; padding-left: 12px; padding-top: 3px; margin: 0;}
#admin-div-color-picker-content table { border-spacing: 3px; }
#admin-div-color-picker-content table tbody tr td { width: 24px; height: 24px; }
/* End Admin Div  */

/* Admin Form */
.admin-new { position: fixed; top: 0px; left: 0px; z-index: 101; }
.form-name{ position:relative; font-size: 28px; color: #002255; width: 100%; border: none; background: transparent;}
.name-field { width: 712px; height: 41px; background: url('/images/admin/admin-div-name-background.png') no-repeat; margin-top: 5px; padding-top: 3px; padding-left: 13px; padding-right: 13px;}
.admin-form-cancel { position:relative; top: -17px; cursor: pointer; margin-left: 10px; }
/* End Admin Form */

/* Admin User Info */
#admin-user-info-picture {float:right;}
#admin-user-info { top: 0px; left: 0px; right: 0; text-align: right; float: right; height: 88px; position: relative; }
#admin-user-info-text {float:right; margin-right: 5px}
#admin-user-info-text p{ margin: 0; color: #00112b; font-size: 21px; text-align: right;}
.admin-user-info-text-user{ color: #003380;}
#admin-user-info-text .admin-user-info-text-role{ color: #00112b; font-size: 13px;}
#admin-user-info-text .admin-user-info-text-role a{ text-decoration: none; color: #00112b;}
#admin-user-info-text .admin-user-info-text-role a:hover{ color: #2a7fff; }
#admin-user-info-links { position:relative;}
#admin-user-info #revision { position: absolute; bottom: 0; right: 92px; font-size: 12px; }
/* End Admin User Info */

/* Admin Teams */
.organization_member{
	text-align: center;
	position: relative;
	top: 0px;
	left: 0px;
}
.team_member {
	text-align: center;
	position: relative;
	top: 10px;
	left: 5px;
}
.organization-member, .team-member{
	position:absolute;
	top: 86px;
	width: 88px;
	max-width: 88px;
	max-height: 22px;
	color: #00112b;
	font-weight: bold;
}
/* End Teams */

div#no-projects { width: 750px; margin: 0 auto; }

/* Stories */

/* End Stories */
