body{
	margin: 0;
}

a { color: #1b51a2; }
a:hover { color: #2a7fff; }

table {
	width: 100%;
	border-right: 4px solid #447821;
	border-top: 4px solid #447821;
	border-bottom: 4px solid #447821;
	margin: 0 auto;
	border-spacing: 0px;
}
#table_footer {
	background: #447821;
	color: white;
}
#table_footer td {
	padding-left: 10px;
}

#table_footer a {
	color: #ffaaaa;
}

table th{
	color:white;
	font-size: 13px;
	text-align: center;
	background: #447821;
	padding: 10px;
	border-left: 4px solid #447821;
}

table td{
	border-left: 4px solid #447821;
	border-bottom: 4px solid #447821;
	padding: 15px;
}

.story-in_progress {
	background: #ffffa2;
}
.story-not_started {
	background: #ffffff;
}
.story-finished {
	background: #afc6e9;
}

.priority-cell {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	width: 1px;
}

.size-cell {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	width: 1px;
}

.name-cell{
	min-width: 260px;
	max-width: 300px;
	
}
.description-cell{
	min-width: 300px;
	max-width: 400px;
	
}

#container {
	width: 100%;
}

/* Story style */
.priority-edit a{
	color: black;
	text-decoration: none;
}

#story-add-fields { border: 0; margin: 0; padding: 0; text-align: center;}
#story-add-fields .field { padding-top: 10px; padding-left: 8px; padding-right: 8px; border: 0; width: 40px; height: 23px; background: url('/images/story-fields-background.png') no-repeat transparent;}
#story-add-fields .field-id { padding-top: 10px; padding-left: 8px; padding-right: 8px; border: 0; width: 80px; height: 23px; background: url('/images/story-id-background.png') no-repeat transparent;}

.admin-div-section .description { position:relative; right: 7px; top: 10px; width: 695px; height: 128px; background: url('/images/story-description-background.png') no-repeat transparent; padding-top: 10px; padding-left: 8px; padding-right: 8px; border: 0;}
