body{
	margin: 0;
	}

table {
	width: 100%;
	border-right: 4px solid #447821;
	border-top: 4px solid #447821;
	border-bottom: 4px solid #447821;
	margin: 0 auto;
	border-spacing: 0px;
}

#table_footer {
	background: #447821;
	color: white;
}
#table_footer td {
	padding-left: 10px;
}

#table_footer a {
	color: #ffaaaa;
}

table th{
	color:white;
	font-size: 13px;
	text-align: center;
	background: #447821;
	padding: 10px;
	border-left: 4px solid #447821;
}
table td{
	border-left: 4px solid #447821;
	border-bottom: 4px solid #447821;
	padding: 15px;
}

.story-in_progress {
	background: #ffffa2;
}
.story-not_started {
	background: #ffffff;
}
.story-finished {
	background: #afc6e9;
}

.priority-cell {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.size-cell {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

#container {
	width: 100%;
}

/* Menu Style */
#backlog_menu {
	position:absolute; 
	top: 0px; 
	left: 0px; 
	background: url('/images/menu_expanded_background.png') repeat-x white; 
	width: 100%; 
	height: 136px;
	z-index: 100;
}

#backlog_menu_space {background: transparent; height: 136px; width: 100%;}

#backlog_menu_taskboard_image {
	float:left; 	
	position: relative;
	border: none;
	top: 7px;
	left: 14px;		
}

#backlog_menu_task_add {
	float: left;	
	top:7px;
	left: 34px;
}
#menu_statustags {
	position: relative; 
	top: 10px; 
	left: 65px;
	border: none;
	width: 10px;
	height: 10px;
	padding: 0px;
	margin: 0;
	
}

#trash {
	float:right; 
	position: relative; 
	top: 14px;
}

/* Story style */
.priority-edit a{
	color: black;
	text-decoration: none;
}

