body {
  position: relative;
  font-family: arial;
  font-size: 12px;
  color: #2e5a9e;
  background: url('/images/login/login_background.png') repeat-x; }

img {
  border: none; }

#container {
  position: relative;
  background: red;
  width: 1100px;
  margin: 0 auto;
  text-align: center; }
  #container #about-left {
    position: absolute;
    left: 0px;
    width: 500px; }
    #container #about-left ul {
      text-align: left;
      width: 400px;
      margin: 0 auto;
      position: relative;
      padding: 0; }
    #container #about-left li {
      list-style-type: none;
      padding-left: 70px;
      background: url('/images/login/login-list-item.png') no-repeat;
      margin: 0 0 30px 0; }
      #container #about-left li.new {
        background: url('/images/login/login-list-new-item.png') no-repeat; }
      #container #about-left li .title {
        font-size: 25px;
        color: #162d50;
        margin-bottom: 0px; }
  #container #about-right {
    position: absolute;
    right: 0px;
    width: 500px;
    margin-top: 70px; }
    #container #about-right img {
      border: 4px solid #2c5aa0;
      margin-bottom: 20px; }
  #container #login {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #d7e3f4;
    border: 4px solid #0c82eb;
    text-align: left;
    padding: 11px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 5px; }
    #container #login input.text {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background: #f1f6ff;
      border: none;
      width: 135px;
      height: 22px;
      color: #2c5aa0;
      padding: 0 5px 0 5px; }
    #container #login input.submit {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      background: #2c5aa0;
      width: 58px;
      height: 22px;
      border: none;
      color: white; }
    #container #login .fieldWithErrors {
      display: inline; }
    #container #login #flash {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      padding: 5px;
      background: red;
      color: white;
      font-weight: bold;
      position: absolute;
      right: -105px;
      top: 9px; }
  #container #revision {
    font-size: 10px;
    position: absolute;
    right: 12px;
    bottom: 0px; }
