body { font-family: arial; color: #2e5a9e; background: url('/images/login/login_background.png') repeat-x;}
img { border: none;}
div#about-left { float: left; width: 500px; margin: 4px 20px; text-align: center;}
div#about-right { float: right; width: 49%; }
h2 { font-size: 16px; font-weight: normal; color: #2e5a9e; margin: 0; }
h1 { font-size: 50px; color: #162d50; font-weight: normal; margin: 0; line-height: 45px;}
p { font-size: 12px;}
ul { text-align: left; width: 400px; margin: 0 auto; position: relative; left: 20px;}
li { list-style-image: url('/images/login/login-list-item.png'); font-size: 12px; clear: both; }
li.new { list-style-image: url('/images/login/login-list-new-item.png');}
li p { float: right;  width: 95%; position: relative; top: -14px; margin-bottom: 30px;}
span.title { font-size: 25px; color: #162d50; margin-bottom: 0px;}
div#login { background: url('/images/login/login-form-bkg.png') no-repeat; width: 500px; height: 28px; padding: 7px 0px; font-size: 12px; text-align: center; margin-top: 1px;}
div#login input { color:#162d50; background: url('/images/login/login-form-field.png') no-repeat; border: 0; width: 118px; height: 13px; padding: 5px 8px; margin-right: 10px;}
input#submit{ background: url('/images/login/login-form-submit.png') no-repeat !important; width: 58px !important; height: 22px !important;}
div#revision { float: right; margin: 12px;}