body{
	margin: 0;
}

table {
	width: 100%;
	margin: 0 auto;
	border-spacing: 0px;
}

#table_footer {
	background: #162d50;
	color: white;
}
#table_footer td {
	padding-left: 10px;
}

#table_footer a {
	color: #80b3ff;
}

table th{
	width: 15%;
	font-size: 20px;
	text-align: center;
	background: white;
	padding: 10px;
}
table td{
	padding: 15px;
}

#container {
	width: 100%;
}
.listing-even {
	background: #d7e2f4;
}
.listing-odd {
	background: #afc6e9;
}
/* Task Style */
.task {
	margin: 0 auto;
	background: url(/images/task.png) no-repeat;
	width: 180px;
	height: 180px;
}
.task-container-table {
	display: table;
	position:absolute;
	top: 0px;
	width: 178px;
	height: 178px;
	background:transparent	;
	margin: 0 auto;
}
.task-container-cell {
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}

.flip-task-image {
	position:relative;
	left: 152px;
	top: 152px;
	border: none;
	z-index:1;
}	

#image-link-back {
	position:relative;
	left: 152px;
	top: 14px;
	border: none;
	z-index:1;
}	
.flip-task-image-back{	border: none;
	z-index:1;
}
.task-name{
	width: 100%;
	margin-top: 0;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.task-description{
	position: relative;
	top: 2px;
	left: 10px;
	width: 158px;
	height: 138px;
	margin: 0;
	font-size: 12px;
}

/* Task List Style */
.task-list, .task-list-item{
	border: none;
	margin: 0;
	padding: 1px;
	
}

.listing-table{
	width: 100%;
	border: 2px solid black;
}

/* Menu - Add Task */

#form-add-task{
	position: absolute;
	margin: 0 auto; 
	z-index: 101; 
	background: url('/images/task.png') no-repeat left; 
	width: 180px; 
	height: 180px;
}
.form-task-task_name{
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	background: none; 
	border: none; 
	text-align: center;
	color: #4d4d4d;	
}
#form-add-task-task_name {
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	background: none; 
	border: none; 
	text-align: center;
	color: #4d4d4d;
}
.form-task-task_description{
	background: transparent; 
	border: none; 
	font-size: 12px; 
	position: absolute; 
	top:0px; 
	left: 2px;
	overflow: hidden;
}
#form-add-task-task_description{
	background: none; 
	border: none; 
	font-size: 12px; 
	position: absolute; 
	top:0px; 
	left: 2px;
}
#form-add-task-submit{
	position:absolute;
	left: 85px;
	top: 148px;
	z-index: 130;
}

#form-add-task-cancel{
	position:relative;
	left: 12px;
	top: 148px;
	z-index: 130;
}

/* Story Card Style */
/* Story Style */
.story-td {
	background: white;
}
.story{
	width: 180px;
	height: 188px;
	background: url('/images/story.png') no-repeat left; 
}
.story-field-realid{
	font-weight: bold;
	position:relative;
	top:20px;
	text-align: right;
	padding-right: 10px;
}
.story-field-name {
	width: 160px;
	margin: 0 auto;
	position:relative;
	top:5px;
	font-size: 18px;
	text-align: center;
}
.story-field-label-priority {
	padding-top: 5px;
	margin: 0;
	text-align: center;
	position:relative;
	top: 10px;
}
.story-field-number-priority {
	font-size: 24px;
	font-weight: bold;
	position: relative;
	top: -5px;
	text-align: center;
}
.story-field-label-size{
	text-align: center;
	position:relative;
	top: -25px;	
}
.story-field-number-size {
	text-align: center;
	position:relative;
	top: -43px;
	font-size: 18px;	
}
/* Nametags and Statustags Style */
.add_nametag {
	width: 88px;
	height: 110px;
	text-align: center;
}
.nametag {
	width: 88px;
	height: 24px;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}
.nametag_1 {background: url('/images/tags/1.png') left no-repeat transparent;}
.nametag_2 {background: url('/images/tags/2.png') left no-repeat transparent;}
.nametag_3 {background: url('/images/tags/3.png') left no-repeat transparent;}
.nametag_4 {background: url('/images/tags/4.png') left no-repeat transparent;}
.nametag_5 {background: url('/images/tags/5.png') left no-repeat transparent;}
.nametag_6 {background: url('/images/tags/6.png') left no-repeat transparent;}
.nametag_7 {background: url('/images/tags/7.png') left no-repeat transparent;}
.nametag_8 {background: url('/images/tags/8.png') left no-repeat transparent;}
.nametag_9 {background: url('/images/tags/9.png') left no-repeat transparent;}
.nametag_10 {background: url('/images/tags/10.png') left no-repeat transparent;}
.nametag_11 {background: url('/images/tags/11.png') left no-repeat transparent;}
.nametag_12 {background: url('/images/tags/12.png') left no-repeat transparent;}
.nametag_13 {background: url('/images/tags/13.png') left no-repeat transparent;}
.nametag_14 {background: url('/images/tags/14.png') left no-repeat transparent;}
.nametag_15 {background: url('/images/tags/15.png') left no-repeat transparent;}
.nametag_16 {background: url('/images/tags/16.png') left no-repeat transparent;}
.nametag_17 {background: url('/images/tags/17.png') left no-repeat transparent;}
.nametag_18 {background: url('/images/tags/18.png') left no-repeat transparent;}
.nametag_19 {background: url('/images/tags/19.png') left no-repeat transparent;}
.nametag_20 {background: url('/images/tags/20.png') left no-repeat transparent;}
.nametag_21 {background: url('/images/tags/21.png') left no-repeat transparent;}
.nametag_22 {background: url('/images/tags/22.png') left no-repeat transparent;}
.nametag_23 {background: url('/images/tags/23.png') left no-repeat transparent;}
.nametag_24 {background: url('/images/tags/24.png') left no-repeat transparent;}
.nametag_25 {background: url('/images/tags/25.png') left no-repeat transparent;}
.nametag_26 {background: url('/images/tags/26.png') left no-repeat transparent;}
.nametag_27 {background: url('/images/tags/27.png') left no-repeat transparent;}
.nametag_28 {background: url('/images/tags/28.png') left no-repeat transparent;}
.nametag_29 {background: url('/images/tags/29.png') left no-repeat transparent;}
.nametag_30 {background: url('/images/tags/30.png') left no-repeat transparent;}
.nametag_31 {background: url('/images/tags/31.png') left no-repeat transparent;}
.nametag_32 {background: url('/images/tags/32.png') left no-repeat transparent;}
.nametag_33 {background: url('/images/tags/33.png') left no-repeat transparent;}
.nametag_34 {background: url('/images/tags/34.png') left no-repeat transparent;}
.nametag_35 {background: url('/images/tags/35.png') left no-repeat transparent;}
.nametag_36 {background: url('/images/tags/36.png') left no-repeat transparent;}
.nametag_37 {background: url('/images/tags/37.png') left no-repeat transparent;}
.nametag_38 {background: url('/images/tags/38.png') left no-repeat transparent;}
.nametag_39 {background: url('/images/tags/39.png') left no-repeat transparent;}
.nametag_40 {background: url('/images/tags/40.png') left no-repeat transparent;}
.nametag_41 {background: url('/images/tags/41.png') left no-repeat transparent;}

.statustag {
	width: 71px;
	height: 53px;
	z-index: 2;
}

.statustag-blocked {background: url('/images/tags/status/statustag_blocked.png') left no-repeat transparent;}
.statustag-high_priority { background: url('/images/tags/status/statustag_high_priority.png') left no-repeat transparent;}
.statustag-waiting { background: url('/images/tags/status/statustag_waiting.png') left no-repeat transparent;}
.statustag-delegated { background: url('/images/tags/status/statustag_delegated.png') left no-repeat transparent;}
.statustag-bug { background: url('/images/tags/status/statustag_bug.png') left no-repeat transparent;}
.statustag-please_analyze { background: url('/images/tags/status/statustag_please_analyze.png') left no-repeat transparent;}
.statustag-please_test { background: url('/images/tags/status/statustag_please_test.png') left no-repeat transparent;}
.statustag-done { background: url('/images/tags/status/statustag_done.png') left no-repeat transparent;}
