body{
	margin: 0;
}

table {
	width: 100%;
	margin: 0 auto;
	border-spacing: 0px;
}

#table_footer {
	background: #162d50;
	color: white;
}
#table_footer td {
	padding-left: 10px;
}

#table_footer a {
	color: #80b3ff;
}

table th{
	width: 15%;
	font-size: 20px;
	text-align: center;
	background: white;
	padding: 10px;
}
table td{
	padding: 15px;
}

#container {
	width: 100%;
}
.listing-even {
	background: #d7e2f4;
}
.listing-odd {
	background: #afc6e9;
}
/* Task Style */
.task {
	margin: 0 auto;
	background: url(/images/task.png) no-repeat;
	width: 180px;
	height: 180px;
}
.task-container-table {
	display: table;
	position:absolute;
	top: 0px;
	width: 178px;
	height: 178px;
	background:transparent	;
	margin: 0 auto;
}
.task-container-cell {
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}

.flip-task-image {
	position:relative;
	left: 152px;
	top: 152px;
	border: none;
	z-index:1;
}	

#image-link-back {
	position:relative;
	left: 152px;
	top: 14px;
	border: none;
	z-index:1;
}	
.flip-task-image-back{	border: none;
	z-index:1;
}
.task-name{
	width: 100%;
	margin-top: 0;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.task-description{
	position: relative;
	top: 2px;
	left: 10px;
	width: 158px;
	height: 138px;
	margin: 0;
	font-size: 12px;
}

/* Task List Style */
.task-list, .task-list-item{
	border: none;
	margin: 0;
	padding: 1px;
	
}

.listing-table{
	width: 100%;
	border: 2px solid black;
}

/* Menu - Add Task */

#form-add-task{
	position: absolute;
	margin: 0 auto; 
	z-index: 101; 
	background: url('/images/task.png') no-repeat left; 
	width: 180px; 
	height: 180px;
}
.form-task-task_name{
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	background: none; 
	border: none; 
	text-align: center;
	color: #4d4d4d;	
}
#form-add-task-task_name {
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	background: none; 
	border: none; 
	text-align: center;
	color: #4d4d4d;
}
.form-task-task_description{
	background: transparent; 
	border: none; 
	font-size: 12px; 
	position: absolute; 
	top:0px; 
	left: 2px;
	overflow: hidden;
}
#form-add-task-task_description{
	background: none; 
	border: none; 
	font-size: 12px; 
	position: absolute; 
	top:0px; 
	left: 2px;
}
#form-add-task-submit{
	position:absolute;
	left: 85px;
	top: 148px;
	z-index: 130;
}

#form-add-task-cancel{
	position:relative;
	left: 12px;
	top: 148px;
	z-index: 130;
}

/* Story Card Style */
/* Story Style */
.story-td {
	background: white;
}
.story{
	width: 180px;
	height: 188px;
	background: url('/images/story.png') no-repeat left; 
}
.story-field-realid{
	font-weight: bold;
	position:relative;
	top:20px;
	text-align: right;
	padding-right: 10px;
}
.story-field-name {
	width: 160px;
	margin: 0 auto;
	position:relative;
	top:5px;
	font-size: 18px;
	text-align: center;
}
.story-field-label-priority {
	padding-top: 5px;
	margin: 0;
	text-align: center;
	position:relative;
	top: 10px;
}
.story-field-number-priority {
	font-size: 24px;
	font-weight: bold;
	position: relative;
	top: -5px;
	text-align: center;
}
.story-field-label-size{
	text-align: center;
	position:relative;
	top: -25px;	
}
.story-field-number-size {
	text-align: center;
	position:relative;
	top: -43px;
	font-size: 18px;	
}
/* Nametags and Statustags Style */
.add_nametag {
	width: 88px;
	height: 110px;
	text-align: center;
}
.nametag {
	background: url('/images/tags/nametags-bkg.png') left no-repeat;
	width: 88px;
	height: 18px;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
	z-index: 2;
}
.nametag_menu {
	background: url('/images/tags/nametags-bkg.png') left no-repeat;
	position: relative;
	top: 70px;
	padding: 0;
}

.statustag {
	width: 71px;
	height: 53px;
	z-index: 2;
}

.statustag-blocked {background: url('/images/tags/status/statustag_blocked.png') left no-repeat transparent;}
.statustag-high_priority { background: url('/images/tags/status/statustag_high_priority.png') left no-repeat transparent;}
.statustag-waiting { background: url('/images/tags/status/statustag_waiting.png') left no-repeat transparent;}
.statustag-delegated { background: url('/images/tags/status/statustag_delegated.png') left no-repeat transparent;}
.statustag-bug { background: url('/images/tags/status/statustag_bug.png') left no-repeat transparent;}
.statustag-please_analyze { background: url('/images/tags/status/statustag_please_analyze.png') left no-repeat transparent;}
.statustag-please_test { background: url('/images/tags/status/statustag_please_test.png') left no-repeat transparent;}
.statustag-done { background: url('/images/tags/status/statustag_done.png') left no-repeat transparent;}
