.element.project{ :class => ('not-mine' if !current_user.projects.include?(project)), :id => "project-#{project.id}", 'data-project-id' => project.id, 'data-project-public-hash' => (project.public_hash if project.public?) }

  / Element name TODO: RESIZE!!
  - if (project.users.include?(current_user) || current_user.admins?(organization))
    %span.name= link_to(project.name, project_taskboard_index_path(:project_id => project)) 
  - else
    %span.name= project.name
    
  - if current_user.admins?(organization) || project.public?
    .admin
      - if current_user.admins?(organization)
        .remove.remove_project{ :title => "Remove Project"}
        .edit.edit_project{ :title => "Edit Project"}
      - if project.public?
        .public_project{ :title => 'Public Project' }
