<script>
	projects_search = new Search('project-container');
</script>

<%= render :partial => "no_projects" if @projects.empty? -%>

<div id="projects-list">
	<%= render :partial => "project", :collection => @projects, :locals => { :member => @member } %>
</div>
