<div id="menu_space">
</div>
<div id="menu">
	<a href="#" onClick="collapseMenu('backlog');"><%= image_tag 'menu_collapse.png', :border => 0, :style => "float:left;" -%></a>
	<% if admin %>
	<%= link_to_remote 'New organization', :url => {:action => :show_form} -%>
	<% end %>
</div>

<div id="menu_expand" style="position:absolute; top: 0px; left: 0px; z-index: 9; background: url('/images/menu_collapsed_background.png') left no-repeat transparent; height: 61px;width: 69px;">
	<a href="#" onClick="expandMenu('backlog');"><%= image_tag('menu_expand.png', :border => 0, :style => "position: relative; top: 11px; left: 14px;")-%></a>
</div>
<script>
	expandMenu('backlog');
</script>
