#organizations.admin_list
  = render @organizations

- content_for :sidebar do
  #admin-sidebar
    %ul#admin-sidebar-menu
      - if current_user.admin?
        %li.new_organization new organization

- content_for :helpers do
  = javascript_include_tag 'helpers/organizations.js', 'helpers/projects.js', 'helpers/users.js', 'helpers/teams.js', 'helpers/guest_team_members.js', 'helpers/modal_dialog.js', 'helpers/color_picker.js'

