%table
  %tr
    %th Name
    %th Priority
    %th Size
    %th Description
    
  = render :partial => 'stories/story', :collection => @stories.in_progress
  = render :partial => 'stories/story', :collection => @stories.not_started
  = render :partial => 'stories/story', :collection => @stories.finished
