<table>
  <tr>
    <th>Name</th>
    <th>Priority</th>
    <th>Size</th>
    <th>Description</th>
  </tr>

<%= render :partial => 'stories/backlog_row', :collection => @stories, :as => :story %>
</table>
