- content_for :helpers do
  = javascript_include_tag 'helpers/stories.js', 'helpers/modal_dialog.js'

= render :partial => "menu", :locals => { :project => @project, :view => @view}
= render :partial => "backlog_table"