<%= render :partial => "menu", :locals => { :project => @project}-%> 
<%= render :partial => 'layouts/admin/dialog_background_fade' -%>
<%= render :partial => "backlog_table" -%>
<div id="dummy-for-actions">
</div>