<div id="admin-teams-choose">
  <%= admin_open_div 700 -%>
	  <h1 style="position: relative; top: 10px;">Choose a Team:</h1>
    
		<%= select_tag "id", options_for_team_select(@teams), :style => "width: 300px; position: relative; top: -8px; left: 250px;" -%>
<%= image_submit_tag "admin/admin-form-submit.png", :alt => "Submit", :style => "position:absolute; top: 5px; left: 600px; "-%>
		</form>
		<%= admin_close_div 700 -%>
</div>
